@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
  --color-indigo-50: #eeedf9;
  --color-indigo-100: #dcdaf1;
  --color-indigo-200: #b9b5e4;
  --color-indigo-300: #9690d7;
  --color-indigo-400: #736bca;
  --color-indigo-500: #3633bc;
  --color-indigo-600: #2e2a9e;
  --color-indigo-700: #262280;
  --color-indigo-800: #1e1b62;
  --color-indigo-900: #161344;
  --color-indigo-950: #0e0c26;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-accent: #3633bc;
}

:root {
  --background: #FFFFFF;
  --foreground: #0F0F10;
  --surface: #F8F9FA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F0F10;
    --foreground: #FFFFFF;
    --surface: #000000;
  }
}